<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">SKATE-shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <img class="logo" src="https://seeklogo.com/images/S/santa-cruz-skateboards-logo-207E263812-seeklogo.com.png">
        </div>
        <div class="collapse navbar-collapse" id="navBar">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#">Productos</a>
              <a class="nav-item nav-link" routerLink="/userlogPane">Login / Register</a>
              <a class="nav-item nav-link " routerLink="/adminPane">Admin</a>
              <a class="nav-item nav-link " routerLink="/miscomprasPane">Mis compras</a>
            </div>
          </div>
    </div>
</nav>


