<div class="row">
    <div class="col-md-3">
        <figure class="card card-product-grid  mb-3">
            <div class="img-wrap"> <img src="https://www.fillow.net/images/products/zoom/1607277170-06840600.jpg" style="width: 60%;"> </div>
            <figcaption class="info-wrap">
                <a href="#" class="title text-truncate">Tabla Element</a>
                <p class="price mb-2">$1280</p>
                <a href="#" class="btn btn-primary btn-sm"> Add to cart</a>
            </figcaption>
        </figure>
    </div>
</div>