<div class="container">


    <div class="container" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">ALTA USER</h4>
                    </header>
                    <article class="card-body">
                        <form>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>Introduce el Usuario</label>   
                                    <input type="text" class="form-control" name="username">
                                </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                            <div class="form-group">
                                <label>Introdce el Email</label>
                                <input type="email" class="form-control"  name="email">
                            </div> <!-- form-group end.// -->
                            <div class="form-group">
                                <label>Introduce la Contraseña</label>
                                <input class="form-control" type="password"  name="pass" >
                            </div> <!-- form-group end.// -->  
                            <div class="form-group" style="margin-top: 2%; text-align: center">
                                <button type="submit" class="btn btn-primary btn-block" >ALTA USUARIO</button>
                            </div> <!-- form-group// -->                                               
                        </form>
                    </article> <!-- card-body end .// -->
                </div> <!-- card.// -->
            </div> <!-- col.//-->
        </div> <!-- row.//-->
    </div>



    <div class="container" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">ALTA PRODUCTO</h4>
                    </header>
                    <article class="card-body">
                        <form>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>Introduce la URL IMG</label>   
                                    <input type="text" class="form-control" name="url-img">
                                </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                            <div class="form-group">
                                <label>Introduce el nombre</label>
                                <input type="text" class="form-control"  name="nombre">
                            </div> <!-- form-group end.// -->
                            <div class="form-group">
                                <label>Introduce la Categoria</label>
                                <input  type="text" class="form-control"  name="categoria" >
                            </div> <!-- form-group end.// -->  
                            <div class="form-group">
                                <label>Introduce la Marca</label>
                                <input  type="text" class="form-control"  name="marca" >
                            </div> <!-- form-group end.// -->  
                            <div class="form-group">
                                <label>Introduce el Precio</label>
                                <input  type="number" class="form-control"  name="precio" >
                            </div> <!-- form-group end.// -->
                            <div class="form-group">
                                <label>Introduce la Descripcion</label>
                                <input  type="text" class="form-control"  name="descripcion" >
                            </div> <!-- form-group end.// -->  
                            <div class="form-group">
                                <label>Introduce el Stock</label>
                                <input  type="number" class="form-control"  name="stock" >
                            </div> <!-- form-group end.// -->
                            <div class="form-group" style="margin-top: 2%; text-align: center">
                                <button type="submit" class="btn btn-primary btn-block" >ALTA PRODUCTO</button>
                            </div> <!-- form-group// -->                                               
                        </form>
                    </article> <!-- card-body end .// -->
                </div> <!-- card.// -->
            </div> <!-- col.//-->
        </div> <!-- row.//-->
    </div>




    
</div>